.freeItem {
    background-color: #B736D6;
    border-radius: 8px;
    padding: 32px;
    text-align: center;
    position: relative;
}
.freeItem h5 {
    font-size: 27px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    color: #EC9FFF;
}
.PriceCol h2 {
    font-size: 124px;
    color: #fff;
    line-height: 185px;
    font-weight: 900;
    text-transform: uppercase;
}
.freePriceContent {
    border-top: 1px solid rgba(255,255,255,0.25);
    padding-top: 35px;
    padding-bottom: 165px;
}

.freePriceContent p {
    line-height: 19px;
    font-size: 10px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 170px;
    margin: 0 auto;
    color: #fff;
    
}

.cancelTitle {
    font-size: 9px;
    letter-spacing: 1.8px;
    line-height: 15px;
    padding-top: 27px;
    text-decoration: underline;
    text-transform: uppercase;
    color:#EC9FFF;
    cursor: pointer;
}

/*
  ======== Responsive Design ========
*/

/* Mini Laptop */
@media (max-width:1199px) {
    .PriceCol h2 {
        font-size: 74px;
        line-height: 105px;
    }
}

/* Tab */
@media (max-width:991px) {
    
}

/* Mobile Phone */
@media (max-width:767px) {
    .freePriceContent {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}