.TabItem {
    max-width: 440px;
    margin: auto;
    padding: 0 20px;
}

.TabItemInr {    
    background: linear-gradient(0deg, rgba(183,54,214,1) 0%, rgba(86,32,183,1) 100%);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    transition: all 0.4s ease 0s;
}

.TabItemInfo {
    padding: 25px 35px 0 35px;
}

.TabItemInfo h6 {
    font-size: 13px;
    background-color: #FFC21C;
    display: inline-block;
    border-radius: 6px;
    padding: 3px 12px;
    margin: 0;
    line-height: 31px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
}

.TabItemInfo h2 {
    letter-spacing: -0.82px;
    color: #FFFFFF;
    font-size: 33px;
    line-height: 43px;
    font-weight: 500;
    margin-bottom: 0;
}
.TabItemInfo p {
    border-top: 1px solid rgba(255,255,255,0.25);
    font-size: 12px;
    letter-spacing: 2.4px;
    color: #fff;
    line-height: 26px;
    padding-top: 24px;
    margin-top: 30px;
    margin-bottom: 36px;
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.previewBtn a {
    display: block;
    line-height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    transition: all 0.4s ease 0s;
}

.previewBtn a span {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    transition: all 0.4s ease 0s;
    opacity: 0;
}

.arrwWht {
    display: inline-block;
    position: relative;
    top: 5px;
}
.arrwYlw {
    display: none;
    position: relative;
    top: 5px;
}

.TabItemInr:hover .previewBtn a {
    background-color: rgba(0,0,0,0.2);
}

.TabItemInr:hover .previewBtn a span {
    opacity: 1;
}

.TabItemInr:hover .arrwWht {
    display: none;
}

.TabItemInr:hover .arrwYlw {
    display: inline-block;
}

/*
  ======== Responsive Design ========
*/

@media (max-width:991px) {
    
}
@media (max-width:767px) {
    .TabItemInfo h2 {
        font-size: 26px;
        line-height: 40px;
    }
}