.footrBlock{
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #100941;
    padding-top: 106px
}
.footrBlock a {
    color: #fff;
    opacity: 0.75;
}
.logo {
    width: 135px;
    height: 35px;
    background-image: url(../../public/assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.logo a {
    width: 135px;
    height: 100%;
    display: block;
}
.ftrHdng {
    font-size: 16px;
    color: #10EBE5;
    padding-bottom: 22px;
    font-weight: 500;
}
.ftrLinks a {
    display: inline-block;
    width: 100%;
    transition: all ease 0.6s;
    font-size: 14px;
}
.ftrLinks a + a {
    margin-top: 12px;
}
.ftrLinks a:hover {
    color: #10EBE5;
}
.copyRightRow {
    padding-top: 90px;
    padding-bottom: 130px;
}
.copyRight {
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.5;
}

/*
  ======== Responsive Design ========
*/

/* Mobile Phone */
@media (max-width: 767px) {
    .footrBlock {
        padding-top: 60px;
    }
    .footrBlock::before {
        display: none;
    }
    .copyRightRow {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}