.callActionBlock {
    position: relative;
    background: rgb(183,54,214);
    background: linear-gradient(0deg, rgba(183,54,214,1) 0%, rgba(86,32,183,1) 100%);
}
.callActionDscrptn {
    padding-left: 20px;
}
.callActionBtns {
    margin-top: 20px;
}

/*
  ======== Responsive Design ========
*/

/* Desktop */
@media (min-width:1400px) {
    .callActionDscrptn {
        padding-left: 220px;
    }
}

/* Tab */
@media (max-width:991px) {
    
}

/* Mobile Phone */
@media (max-width:767px) {
    .callActionHdng {
        margin-top: 100px;
    }
    .callActionDscrptn {
        padding-left: 0;
    }
    .callActionBtns {
        margin-top: 100px;
    }
}