.faqBlock {
    background: #070036;
    padding-bottom: 110px;
}
.faqRow {
    margin-left: auto;
    margin-right: auto;
}
.faqCntct {
    margin-top: 100px;
    text-align: center;
}
.faqCntct p {
    font-size: 14px;
    color: rgba(255,255,255,0.7);
    margin: 0;
}
.faqCntct p a {
    text-decoration: underline;
}


/*
  ======== Responsive Design ========
*/

/* Mobile */
@media (max-width:767px) {
    .faqBlock {
        padding-bottom: 60px;
    }
    .faqCntct {
        margin-top: 60px;
    }
}