/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Basic Elements with Structure */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #4A4A4A;
}
h1, h2, h3, h4, h5, h6 {
  color: #000000;
}
a {
  color: #10EBE5;
  text-decoration: none;
}
a:hover {
  color: #10EBE5;
}
.colorBlack a {
  color: #000000;
}
.colorBlack a:hover {
  color: #10EBE5;
}
.capitalize {
  text-transform: capitalize;
}
.bgGrey {
  background-color: #DBE3ED !important;
}
.pd-180 {
  padding: 100px 0;
}
.text-right {
  text-align: right;
}


/* PriceBlock */
.prcingTabs.nav.nav-tabs {
  background: #e9f2fc;
  border-bottom: 0;
  align-items: center;
  justify-content: center;
  padding: 26px 0;
}
.prcingTabs.nav.nav-tabs::before {
  content: "Pricing";
  color: #383838;
  font-size: 21px;
  line-height: 27px;
  padding-right: 60px;
  border-right: 1px solid #dee5f5;
}
.prcingTabs .nav-item {
  margin-left: 60px;
}
.prcingTabs.nav-tabs .nav-link {
  font-size: 14px;
  color: #b7c1d2;
  font-weight: 300;
  padding: 0;
  border: 0;
}
.prcingTabs.nav-tabs .nav-link.active {
  color: #222e53;
  background: transparent;
  font-weight: 600;
}

/* Journey Tab Block */
.journeyTabs.nav.nav-tabs {
  align-items: center;
  justify-content: center;
  border: 0;
  position: absolute;
  bottom: 0;
  left: 54%;
  transform: translateX(-50%);
  display: flex;
  width: 890px;
}
.journeyTabs.nav-tabs .nav-link {
  font-size: 11px;
  color: #fff;
  opacity: 0.5;
  border: 0;
  padding: 0 15px;
  line-height: 82px;
  position: relative;
  transition: all 0.3s ease 0s;
  margin: 0;
}
.journeyTabs.nav-tabs .nav-link::before {
  background: #10EBE5;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  height: 3px;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.journeyTabs.nav-tabs .nav-link.active,
.journeyTabs.nav-tabs .nav-link:hover,
.journeyTabs.nav-tabs .nav-link.active:hover {
  background: transparent;
  border: 0;
  opacity: 1;
}
.journeyTabs.nav-tabs .nav-link.active::before,
.journeyTabs.nav-tabs .nav-link:hover::before,
.journeyTabs.nav-tabs .nav-link:hover.active:before {
  opacity: 1;
}

/* Faq Section  */
.faqRow .accordion-button:not(.collapsed) {
  color: #10EBE5!important;
  background-color: transparent;
  box-shadow: inherit;
  border: inherit!important;
}
.faqRow .accordion-button {
  padding: 23px 0;
  font-size: 16px;
  color: #fff;
  border: inherit!important;
  box-shadow: inherit!important;
  background: transparent;
  font-weight: 500;
}
.faqRow .accordion-item {
  margin-bottom: 0;
  position: relative;
  padding: 0;
  margin: 0 auto;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.29);
  background: transparent;
  border-radius: 0;
}
.faqRow .accordion-body {
  padding: 15px 0;
}
.faqRow .accordion-body p {
  max-width: 800px;
  color: rgba(255,255,255,0.7);
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 15px;
}
.faqRow .accordion-button::after {
  width: 20px;
  height: 20px;
  margin-left: auto;
  content: "+";
  background: #070036;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  color: #10EBE5;
  padding: 1px 5px;
}
.faqRow .accordion-button:not(.collapsed)::after {
  background-image: transparent;
  transform: inherit;
  content: "x";
  padding: 0 7px;
  color: #fff;
}


/*
  ======== Responsive Design ========
*/
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
  .pd-180 {
    padding: 180px 0;
  }
  .journeyTabs.nav.nav-tabs {
    width: 1040px;
  }
  .journeyTabs.nav-tabs .nav-link {
    font-size: 12px;
    padding: 0 20px;
    line-height: 112px;
  }
}


/* Laptop */
@media (min-width:991px) and (max-width:1349px) {
  
}


/* Mini Laptop */
@media (max-width:1199px) {
  .pd-180 {
    padding: 80px 0;
  }
}

/* Tablet */
@media (max-width:991px) {
  .actNav .back_button {
    opacity: 0.75;
    visibility: visible;
    pointer-events: initial;
  }
  .navMenuActiveOutr {
    overflow: scroll;
  }
  .navMenuActiveOutr h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
  }
  .actNav .navMenuActiveOutr {
    transform: translateY(0);
    margin-top: 0;
    padding: 20px;
    z-index: 99;
  }
  
}

/* Mobile */
@media (max-width:767px) {
  .pd-180 {
    padding: 60px 0;
  }
  .reverse {
    order: -1;
  }
  /* PriceBlock */
  .prcingTabs.nav.nav-tabs {
    padding: 20px 0;
  }
  .prcingTabs.nav.nav-tabs::before {
    font-size: 18px;
    line-height: 24px;
    padding-right: 20px;
  }
  .prcingTabs .nav-item {
    margin-left: 20px;
  }

  /* Journey Tab Block */
  .journeyTabs.nav.nav-tabs {
    align-items: start;
    justify-content: flex-start;
    border: 0;
    position: relative;
    bottom: 0;
    left: 0;
    transform: inherit;
    display: flex;
    flex-wrap: inherit;
    overflow: scroll;
    background: #201850;
    margin-left: 100px;
    margin-bottom: 150px;
    z-index: 1;
    width: 100%;
  }
  .journeyTabs.nav.nav-tabs .nav-item {
    white-space: nowrap;
  }
  .journeyTabs.nav-tabs .nav-link {
    line-height: 62px;
  }

  /* Faq Section  */
  .faqRow .accordion-button {
    padding: 15px 0;
    font-size: 14px;
    line-height: 20px;
  }
  .faqRow .accordion-body p {
    margin-bottom: 0;
  }
}