.card {
    background-color: #fff;
    box-shadow: 0px 33px 76px #252A4127;
    border-radius: 8px;
    padding: 105px 30px 30px 30px;
    text-align: center;
    position: relative;
}
.card::before {
    position: absolute;
    content: "“";
    color: #10EBE5;
    font-size: 117px;
    line-height: 0;
    left: 50%;
    transform: translateX(-50%);
}
.card p {
    font-size: 18px;
    color: #BAB7C3;
    line-height: 25px;
    max-width: 186px;
    margin: 0 auto 22px auto;
}
.client h5 {
    font-size: 16px;
    color: #BAB7C3;
    line-height: 22px;
    margin-top: 12px;
    margin-bottom: 0;
}

/*
  ======== Responsive Design ========
*/
@media (min-width: 1400px) {
    .card {
        padding: 105px 30px 30px 30px;
    }
    .card {
        padding: 115px 45px 45px 45px;
    }
}

/* Mobile Phone */
@media only screen and (max-width: 767px) {
    .card {
        padding: 75px 30px 30px 30px;
    }
    .card p {
        font-size: 16px;
        line-height: 24px;
        margin: 0 auto 20px auto;
    }
}